.title-2 {
    color: $dark-900;
    text-transform: none;
    text-align: left;
    margin-bottom: 48px;
    font-size: 42px;
}

.catalogofgoods {
    padding: 48px 0 72px;

    &__inner {
        display: flex;
    }

    &-categories__items {
        height: 318px;
    }

}

.catalogofgoods-offers__item  {
    padding-bottom: 12px;
}

.filter {
    width: 300px;
    margin-right: 32px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    margin-bottom: 30px;

    &__items {
        padding: 18px;
        font-size: 18px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #C4C4C4;
            border-radius: 3px;
        }
    }

    &__item-li {
        padding-bottom: 12px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__checkbox {
        width: 24px;
        height: 24px;
        background-color: $silver-100;
        border: 1px solid $silver-600;
        border-radius: 3px;
        margin: 0 10px 0 0;  

        &:checked {
            background-image: url('../images/icons/checkbox.svg');
            background-repeat: no-repeat;
            background-size: 12px 9px;
            background-position: center center;
        }
    }

    &__item--last {
        padding-bottom: 0;
    }
}



.filter-price {
    display: flex;
    flex-direction: column;
    padding: 18px;

    &__form {
        display: flex;
        margin-bottom: 5px;
    }

    &__input {
        width: 80px;
        height: 40px;
        border: 1px solid $silver-600;
        border-radius: 3px;
        background-color: $silver-100;
    }

    &__from {
        margin-right: 40px;
    }

    &__from,
    &__to {
        text-align: center;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__span {
        font-size: 16px;
        color: $silver-600;
        font-family: $ruda;
        margin-right: 9px;
        padding-top: 13px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/icons/rub.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 10px;
            height: 16px;
            left: 110px;
        }

    }
}

.irs--round .irs-bar {
    background-color: $green-900;
    height: 2px;
}

.irs--round .irs-line {
    height: 2px;
    background-color: #C4C4C4;
    border-radius: 0;
}

.irs--round .irs-handle {
    background-color: $green-900;
    // border-radius: 50%;
    width: 18px;
    height: 18px;
    // height: 18px;
    top: 17px;
    // bottom: 10px;


}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single,
.irs--round .irs-min,
.irs--round .irs-max {
    display: none;
}

.irs--round .irs-handle {
    border: none;
    top: 28px;
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
    background-color: $green-200;
}

.irs--flat {
    height: 30px;
}

.title-3 {
    font-size: 24px;
    font-weight: $fw-400;
    line-height: 1;
    padding-bottom: 18px;
    border-bottom: 1px solid $silver-600;
    padding: 18px;
    margin-bottom: 0;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        background-image: url('../images/icons/chevronup.svg');
        width: 18px;
        height: 10px;
        right: 18px;
        top: 22px;
    }
}