@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__top {
        padding: 17px 0 15px;
        background-color: $dark-800;
    }

    &__info,
    &__menu,
    &__items,
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item-bloc:not(:last-child) {
        margin-right: 40px;
    }

    &__item-bloc:first-child {
        padding-left: 44px;
    }

    &__item-bloc:nth-child(2) {
        padding-left: 34px;
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__item-bloc,
    &__item {
        @extend %opensans-700;
        font-size: 13px;        
        color: $white;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__link-item {
        position: relative;

        &::before {
            position: absolute;
            background-repeat: no-repeat;
            content: '';
            background-position: center center;
            background-size: cover;
            height: 22px;
        }
    }

    &__link-item,    
    &__link {
        border: 3px solid transparent;
        transition: opacity 0.3s, border-raduus 0.3s, border 0.3s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            border-radius: 6px;
            border: 3px solid $white;
        }

        &:active {                     
            border: 3px solid $green-200;
        }
    }

    &__link-item--address::before {
        background-image: url(../images/icons/address.svg);
        width: 32px;
        left: -44px;
        top: -3px;
    }

    &__link-item--tel::before {
        background-image: url(../images/icons/tel.svg);
        width: 22px;
        left: -32px;
    }

    &__wrapper {
        align-items: center;
    }

    &__bottom {
        background-color: $green-900;
        padding: 25px 0;
    }

    &__search {
        margin-right: 25px;             
    }

    &__input-search {
        width: 418px;              
        background-color: $white;
        padding: 15px 51px;
        border-radius: 6px 0 0 6px;
        margin-right: -7px;        
        background-image: url(../images/icons/search.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 13px center;  
                 

        &::placeholder {
            color: $dark-800;
        }
    }

}

.catalog {
    background-color: $white;
    max-width: 240px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 23px 0 18px;
    transition: background-color 0.3s, border-radius 0.3s;
    margin-right: 15px; 

    &:hover {
        background-color: $green-200;
        border-radius: 6px 6px 0 0;
    }

    &__icon {
        background-color: $green-900;
        width: 20px;
        height: 1px;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 1px;
            background-color: $green-900;
            left: 0;
        }

        &::after {
            bottom: -7px;
        }

        &::before {
            top: -7px;
        }
    }

    &__menu {
        position: relative;
        padding: 0 19px 0 16px;
        color: $green-900;
        letter-spacing: 0.03em;
        transition: transform 0.3s;                      

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/icons/catalog_arrow_down.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 4px;
            width: 7px;
            right: -7px;
            top: 7px;
        }

        &:hover::after {
            transform: rotate(180deg);
        }
    }
}

.btn__search {
    border-radius: 0 6px 6px 0;
    background-color: $dark-800;
    color: $white;
    padding: 15px 52px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: background 0.3s, box-shadow 0.3s;

    &:hover {
        background: rgba(49, 53, 43, 0.85);
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.usernav {
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link {  
        display: block;      
        background-position: center center;      
        background-repeat: no-repeat;
        position: relative;
        width: 50px;
        height: 50px;  
        transition: border-radius 0.3s, background 0.3s, box-shadow 0.3s;
        
        &:hover,
        &:focus,
        &:active {            
            border-radius: 3px;     
            background: rgba(255, 255, 255, 0.1);
            background-repeat: no-repeat;
            background-position: center center;
        }

         &:focus {
            box-shadow: inset 0 0 0 3px $green-100;                      
        }
       
        &:active {           
            background: rgba(255, 255, 255, 0.5);
        }
       
    }

    &__link--user {       
        background-size: 25px 32px;

        &:active {          
            background-repeat: no-repeat;
            background-position: center center;
        }
       
    }

    &__link--favorite {      
        background-size: 32px 29px;

        &:active {          
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__link--cart {
        background-size: 32px 31px;

        &:active {          
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__item:not(:last-child) {
        margin-right: 12px;
    }

    &__num {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        color: $red-900;
        top: 3px;
        left: 3px;
        letter-spacing: 0.03em;        
        font-size: 10px;
        text-align: center;        
    }
}

.footer {
    @extend %opensans-400;    
    background-color: $dark-800;
    color: $white;
    padding: 30px 0 29px;
    margin-bottom: 0;

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }    

    &__item {
        line-height: 1;
        margin-right: 60px;
    }

    &__input {
        padding-top: 18px;
    }

    &__input-email {
        background-color: $white;
        padding: 12px;
        border-radius: 6px 0 0 6px;
        margin-right: -5px;
        max-width: 180px;

        &::placeholder {
            color: #4F4F4F;
        }
    }

    &__menu {
        column-count: 3;
        column-gap: 75px;
    }

    &__menu-item {
        margin-bottom: 18px;
    }

     &__address {
        display: block; 
        padding: 18px 0;      
    }  

    &__line {
        opacity: 0.1;
        background-color: $white;
        height: 1px;
        width: 100%;
    }
    
    &__coperait {        
        padding-top: 28px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__coperait-info {
        text-transform: uppercase;
    }

    &__pay {
        display: flex;
    }

    &__pay-item:not(:last-child) {
        margin-right: 24px;
    }

    &__pay-link {
        display: block;
        width: 44px;
        height: 29px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__pay-link--visa {
        width: 93px;
    }

    &__pay-link--mc {
        width: 48px;
    }
   
}

.social {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 11px;
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: opacity 0.3s, background 0.3s, box-shadow 0.3s, border-radius 0.3s, fill 0.3s;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            background: rgba(255, 255, 255, 0.0001);
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &:active {
            fill: $green-200;
        }
    }
}

.btn__email {
    @extend %opensans-700;
    background-color: $green-900;
    padding: 17px 17px 15px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    font-size: 12px;   
    transition: background-color 0.3s, box-shadow 0.3s;    

    &:hover {
        background-color: #4D800C;
    }

    &:focus {
        box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.slider {
    &__item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 142px 0;        
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 315px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.8);
        padding: 24px;
        
    }

    &__title {
        @extend %ruda-900;
        text-transform: uppercase;
        color: $dark-500;
        font-size: 60px;
        line-height: 1.3; 
        max-width: 761px; 
        // padding-bottom: 12px;      
    }

    &__discound {
        color: $red-900;
    }

    &__text {
        font-size: 16px;
        color: $dark-500;
        margin-bottom: 32px;
    }
}

.btn__buynow {
    @extend %btn;   
    color: $white;
    background-color: $green-900;  
    transition: background-color 0.3s, box-shadow 0.3s;
    
    &:hover {
        background-color: #4D810C;  
    }

    &:focus {
        box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);  
    border-radius: 6px;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s, background-color 0.3s, box-shadow 0.3s;

    &:disabled {
        background: rgba(255, 255, 255, 0.8);       
    }

    &:hover {
        background-color: $green-200;        
    }

    &:focus {
        box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);       
    }
  
}

.slick-prev {
    left: 60px;
    z-index: 1;    
}

.slick-next {
    right: 60px;
}

.slick-prev__img,
.slick-next__img {
    margin: 0 auto;    
    object-fit: cover;  
    transition: filter 0.3s;  

    &:hover,
    &:active {
        filter: invert(76%) sepia(62%) saturate(6102%) hue-rotate(52deg) brightness(96%) contrast(89%);
    }

}

.benefits {
    background-color: $silver-100;

    &__items {
        display: flex;
        justify-content: center;        
    }

    &__item:not(:last-child) {
        margin-right: 65px;
    }

    &__item {
        padding: 49px 0 35px 74px;
        position: relative;        

        &::before {
            position: absolute;
            content: '';
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            left: 0;
        }          
        
    }    

    &__item--scooter::before {
        background-image: url(../images/icons/scooter.svg);        
    }

    &__item--return::before {
        background-image: url(../images/icons/return.svg);
    }

    &__item--24-hours::before {
        background-image: url(../images/icons/24-hours.svg);
    }

    &__title {        
        @extend %opensans-600;
        font-size: 16px;  
    }

    &__text {
        @extend %opensans-400;
        width: 190px;
    }
}


.products {
    &__nav {
        display: flex;
        justify-content: center;        
        margin-bottom: 49px;
    }

    &__btn {
        @extend %opensans-700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-size: 15px;
        color: $dark-500;
        border-bottom: 3px solid transparent;
        transition: color 0.3s, border-radius 0.3s, border-bottom 0.3s, box-shadow 0.3s;

        &:hover {
            color: $green-900;
        }

        &:focus {        
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }
        &:active {
            border-bottom: 3px solid $green-200;
        }
    }
    
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;
    }

    &__item {
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        height: 409px;
        max-width: 300px;

        &:hover {
            border: 1px solid $green-900;
        }
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        height: 74px;             
    }  

    &__favorite {
        position: relative;
        width: 44px;
        height: 44px; 
        transition: opacity 0.3s, box-shadow 0.3s, border-radius 0.3s;

        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/icons/favorite.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            filter: invert(18%) sepia(3%) saturate(32%) hue-rotate(314deg) brightness(97%) contrast(87%);
            width: 32px;
            height: 28px;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
        }

        &:hover,
        &:active {
            filter: invert(20%) sepia(28%) saturate(6583%) hue-rotate(360deg) brightness(107%) contrast(105%);
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &:active {
            opacity: 0.5;
        }
  
    }  

    &__img {
        max-height: 225px;
        max-width: 300px;
        object-fit: cover;
    
    } 
    
    &__discription,
    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__bottom {
        align-items: flex-end;
    }
    
    &__discription {
        flex-direction: column;
        height: 100px;
        padding: 0 18px;        
    }

    &__title {
        letter-spacing: 0.03em;
    }

    &__bill {
        @extend %opensans-400;
        line-height: 1;
        letter-spacing: 0.03em;
    }

    &__oldprice {
        display: block;       
        color: $silver-600;
        margin-bottom: 3px;
        position: relative;        

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 14px;            
            top: 0;
            background-image: url(../images/icons/line.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    &__price {     
        color: $dark-500; 
    }

    &__link {
        position: relative;
        transition: opacity 0.3s, top 0.3s, right 0.3s, transforme 0.3s; 
        
        &::before {
            position: absolute;
            background-color: #000000;
            opacity: 0;
            width: 100%;
            height: 100%;
            content: '';
            right: 0; 
        }

        &:hover::before {
            opacity: 0.1;
        }

        &::after {
            position: absolute;
            content: '';
            background-image: url(../images/icons/search-green.svg);
            width: 48px;
            height: 48px;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            background-color: $white;
            right: -2000px;
        }

        &:hover::after {
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
}

.mixitup-control-active {
    border-bottom: 3px solid $green-200;
}

.topproducts {
    &__nav-item:not(:last-child) {
        margin-right: 24px;
    }
}

.badge {
    @extend %badge;    
}

.badge--new {
    background-color: $green-900;
}

.badge--sale {
    background-color: $red-900;
    width: 37px;
}

.badge--top {
    background-color: $orange-900;
    width: 34px;
}

.cart__btn {
    background-color: $green-900;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #4D800C;
    }

    &:focus {
        box-shadow: 0 0 0 4px $green-200;
    }

    &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/cart.svg);
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%)
    }
}

.loadmore__btn {
    @extend %btn;    
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;    
    margin: 0 auto;  
    display: block; 
    transition: background-color 0.3s, box-shadow 0.3s;
    
    &:hover {
        background-color: $green-100;
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:active {
        box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
}

@import 'media';