.footer {
    font-weight: $fw-400;
    background-color: $dark-800;
    color: $white;
    padding: 30px 0 29px;
    margin-bottom: 0;
    position: relative;

    @include mq('md') {
        padding: 24px 0;
    }

    .container {
        @include mq('lg') {
            padding: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        @include mq('lg') {
            flex-direction: column;
            align-items: center;
        }

        @include mq('md') {
            padding: 24px 0;
        }
    }

    &__item {
        line-height: 1;
        margin-right: 60px;
        max-width: 310px;
        width: 100%;

        @include mq('lg') {
            order: 1;
            padding-top: 24px;
            margin-right: 0;            
        }

        @include mq('sm') {
            padding-top: 9px;
        }
    }    

    &__menu {
        column-count: 3;
        column-gap: 75px;

        @include mq('lg') {                     
            padding: 24px 15px;            
            column-gap: 49px;            
            column-count: 2; 
            width: fit-content;              
        }    
        
        @include mq('sm') {
            padding-left: 50px;
            column-gap: 40px;
        }        
    }

    &__menu-item {
        margin-bottom: 15px;
        padding-top: 3px;       
    }

    &__menu-link,
    &__link {       
        transition: opacity 0.3s, border-radius 0.5s, border-color 0.3s;

        &:focus,
        &:active {
            box-shadow: 0px 0px 0px 3px $green-200;
            border-radius: 3px;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {            
            border-color: $green-200;
        }
    }   

    &__coperait {
        padding-top: 24px;
        border-top: 1px solid rgba($white, 0.1);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq('lg') {
            flex-direction: column;
            align-items: center;
        }
    }

    &__coperait-info {
        text-transform: uppercase;

        @include mq('lg') {
            order: 1;
        }
    }

    &__pay {
        display: flex;

        @include mq('lg') {
           margin-bottom: 24px;
        }
    }

    &__pay-item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__pay-link {
        display: block;
        width: 44px;
        height: 29px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s, opacity 0.3s, fill 0.3s;

        &--big {
            width: 93px;
        }

        &--small {
            width: 48px;
        }

        &:focus {
            background-color: rgba($white, 0.0001);
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            fill: $green-200;
        }
    }

    &::after,
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        background-color: $white;
        opacity: 0.1; 
        left: 0;  

        @include mq('lg') {
            height: 1px;
        }        
    }

    &::after {
        bottom: 260px;

        @include mq('md') {
            bottom: 250px;
        }
    }

    &::before {
        top: 250px;

        @include mq('md') {
            top: 240px;
        }        
    }

    .logo {
        @include mq('lg') {
            margin: 0 auto;            
        }
    }
}

.email-form {
    padding-top: 18px;

    &__input {
        background-color: $white;
        padding: 12px;
        border-radius: 6px 0 0 6px;
        margin-right: -5px;
        max-width: 180px;

        &::placeholder {
            color: $gray-600;
        }
    }
}

.contacts {    

    @include mq('lg') {
       order: -1;
    }

    &__address-item {
        display: block;
        padding-bottom: 18px;          
       
        &--tel {
            &::before {
                background-image: url('../images/icons/tel.svg');
                filter: invert(82%) sepia(9%) saturate(811%) hue-rotate(42deg) brightness(96%) contrast(92%);
            }
        }

        &--address {
            &::before {
                background-image: url('../images/icons/point.svg');
            }
        }
    }

    &__link {
        border: 3px solid transparent;
        transition: opacity 0.3s, border-radius 0.5s, border-color 0.3s;

        &:focus {
            border-radius: 6px;            
            border-color: $white;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            border: 3px solid $green-200;
        }
    }  
}

.social {
    display: flex;

    @include mq('lg') {
        justify-content: center;
        margin-bottom: 24px;        
    }

    &__item {
        &:not(:last-child) {
            margin-right: 11px;
        }
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: opacity 0.3s, background-color 0.3s, box-shadow 0.3s, border-radius 0.3s, fill 0.3s;  

        &:focus {           
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            fill: $green-200;
        }
    } 
    
    &--menu {
        justify-content: left;
    }
}