.header {
    &__top {
        padding: 17px 0 15px;
        background-color: $dark-800;
    }

    &__info,
    &__menu,
    &__items,
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item-bloc {
        padding-left: 34px;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }


    &__item-bloc,
    &__item {
        font-weight: $fw-700;
        font-size: 13px;
        color: $white;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__link-item {
        position: relative;

        &::before {
            position: absolute;
            background-repeat: no-repeat;
            content: '';
            background-position: center center;
            background-size: cover;
            height: 22px;
        }

        &--address {
            &::before {
                background-image: url('../images/icons/address.svg');
                width: 32px;
                left: -44px;
                top: -3px;
            }
        }

        &--tel {
            &::before {
                background-image: url('../images/icons/tel.svg');
                width: 22px;
                left: -32px;
            }
        }
    }

    &__link-item,
    &__link {
        border: 3px solid transparent;
        transition: opacity 0.3s, border-radius 0.5s, border-color 0.3s;

        &:focus {
            border-radius: 6px;            
            border-color: $white;
        }

        &:hover {
            opacity: 0.7;
        }


        &:active {
            border: 3px solid $green-200;
        }
    }

    &__wrapper {
        align-items: center;
    }

    &__bottom {
        background-color: $green-900;
        padding: 25px 0;
    }   

}

.search-form {      
    margin-right: 50px;
    display: flex;
    flex-grow: 1;

    &__input {
        width: 100%;
        background-color: $white;
        padding: 15px 51px;
        border-radius: 6px 0 0 6px;
        background-image: url('../images/sprite.svg#search');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 13px center;

        &::placeholder {
            color: $dark-800;
        }
    }
    
}

.catalog {
    background-color: $white;
    max-width: 240px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 23px 0 18px;
    transition: background-color 0.3s, border-radius 0.3s;
    margin-right: 30px;

    &:hover {
        background-color: $green-200;
        border-radius: 6px 6px 0 0;
    }

    &__icon {
        background-color: $green-900;
        width: 20px;
        height: 1px;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 1px;
            background-color: $green-900;
            left: 0;
        }

        &::after {
            bottom: -7px;
        }

        &::before {
            top: -7px;
        }
    }

    &__menu {
        position: relative;
        padding: 0 19px 0 16px;
        color: $green-900;
        letter-spacing: 0.03em;
        transition: transform 0.3s;

        &::after {
            content: '';
            position: absolute;
            background-image: url('../images/sprite.svg#catalog_arrow_down');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 4px;
            width: 7px;
            right: -7px;
            top: 7px;
            @include recolor($green-600);
        }

        &:hover::after {
            transform: rotate(180deg);
        }
    }
}

.usernav {
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link {
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        width: 50px;
        height: 50px;
        transition: border-radius 0.3s, background-color 0.3s, box-shadow 0.3s;

        &:focus,
        &:hover,
        &:active {
            border-radius: 3px;
            background-color: rgba($white, 0.1);
        }

        &:focus {
            box-shadow: inset 0 0 0 3px $green-100;
        }

        &:active {
            background-color: rgba($white, 0.5);
        }
    }

    &__icon {
        position: absolute;
        right: 50%;
        transform: translate(50%, -50%);
        top: 50%;
        fill: $white;
        width: 28px;
        height: 30px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__num {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $white;
        color: $red-900;
        top: 3px;
        left: 3px;
        letter-spacing: 0.03em;
        font-size: 10px;
        text-align: center;
        z-index: 1;
    }
}

