<section class="benefits">
    <h2 class="sr-only">
        Преимущества
    </h2>
    <div class="container">
        <ul class="benefits__items">
            <li class="benefits__item benefits__item--scooter">
                <h3 class="betefits__title">
                    Бесплатная доставка
                </h3>
                <p class="benefits__text">
                    Для заказов на сумму от 500 ₽
                </p>
            </li>
            <li class="benefits__item benefits__item--return">
                <h3 class="betefits__title">
                    Возврат товара
                </h3>
                <p class="benefits__text">
                    Если товары были испорчены
                </p>
            </li>
            <li class="benefits__item benefits__item--hours">
                <h3 class="betefits__title">
                    Поддержка 24/7
                </h3>
                <p class="benefits__text">
                    Лучшие операторы
                </p>
            </li>
        </ul>
    </div>
</section>