<header class="header">
    <nav class="header__nav">
        <div class="header__top">
            <div class="container">
                <div class="header__menu">
                    <ul class="header__info">
                        <li class="header__item-bloc">
                            <a class="header__link-item header__link-item--address" href="#">
                                адрес и время доставки
                            </a>
                        </li>
                        <li class="header__item-bloc">
                            <a class="header__link-item header__link-item--tel" href="tel:+7907288365">
                                горячая линия 24/7
                            </a>
                        </li>
                    </ul>
                    <ul class="header__items">
                        <li class="header__item">
                            <a class="header__link" href="#">
                                доставка
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">
                                о нас
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">
                                новости
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="header__wrapper">
                    <a class="logo logo--header" href="#">
                        <img class="logo__img" src="images/logo.svg" alt="Логотип" width="200" height="60">
                    </a>
                    <button class="catalog" type="button">
                        <span class="catalog__icon"></span>
                        <span class="catalog__menu">Каталог продуктов</span>
                    </button>
                    <form class="search-form">
                        <label class="sr-only" for="search">
                            Поиск по каталогу
                        </label>
                        <input class="search-form__input" id="search" type="search"
                            placeholder="Найти в магазине ..." name="search" required>
                        <button class="button" type="button">поиск</button>
                    </form>
                    <div class="usernav">
                        <ul class="usernav__menu">
                            <li class="usernav__item">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Вход для пользователя
                                    </span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#user"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="usernav__item">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Избранное
                                    </span>
                                    <span class="usernav__num">12</span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#favorite"></use>
                                    </svg>
                                </a>                                
                            </li>
                            <li class="usernav__item">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Корзина
                                    </span>
                                    <span class="usernav__num">12</span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#cart"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>