<header class="header">
    <nav class="header__nav">
        <div class="header__top">
            <div class="container">
                <div class="header__menu">
                    <button class="header__btn" type="button">
                        <span class="header__burger"></span>
                        <span class="sr-only">Меню</span>
                    </button>
                    <ul class="header__info">
                        <li class="header__item-bloc">
                            <a class="header__link-item header__link-item--address" href="#">
                                адрес и время доставки
                            </a>
                        </li>
                        <li class="header__item-bloc">
                            <a class="header__link-item header__link-item--tel" href="tel:+7907288365">
                                горячая линия 24/7
                            </a>
                        </li>
                    </ul>
                    <ul class="header__items">
                        <li class="header__item">
                            <a class="header__link" href="#">
                                доставка
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">
                                о нас
                            </a>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#">
                                новости
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="header__wrapper">
                    <a class="logo" href="#">
                        <picture>
                            <source srcset="images/logo/logo-short.svg" media="(max-width: 992px)" >
                        <img class="logo__img" src="images/logo/logo.svg" alt="Логотип" width="200" height="60">
                        </picture>
                    </a>
                    <div class="catalog">
                        <span class="catalog__icon"></span>
                        <button class="catalog__menu" type="button">Каталог продуктов</button>
                        <ul class="catalog__items" >
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Овощи и фрукты
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Бакалея
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Молочные продукты
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Хлеб
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Мясо
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Колбаса
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Рыба
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Алкоголь
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Напитки
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Торты
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Мясо
                                </a>
                            </li>
                            <li class="catalog__item">
                                <a class="catalog__link" href="#">
                                    Чай, кофе
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form class="search-form">
                        <label class="sr-only" for="search">
                            Поиск по каталогу
                        </label>
                        <input class="search-form__input" id="search" type="search" placeholder="Найти в магазине ..."
                            name="search" required>
                        <button class="button button--search" type="submit">поиск</button>
                    </form>
                    <div class="usernav">
                        <ul class="usernav__menu">
                            <li class="usernav__item">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Вход для пользователя
                                    </span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#user"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="usernav__item usernav__item--search">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Поиск
                                    </span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#search"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="usernav__item">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Избранное
                                    </span>
                                    <span class="usernav__num">12</span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#favorite"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="usernav__item usernav__item-cart">
                                <a class="usernav__link" href="#">
                                    <span class="sr-only">
                                        Корзина
                                    </span>
                                    <span class="usernav__num">12</span>
                                    <svg class="usernav__icon">
                                        <use xlink:href="images/sprite.svg#cart"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>