<article class="product-card">
    <div class="product-card__top">
        <ul class="badge">
            <li class="badge__item badge__item--new">
                новинка
            </li>
            <li class="badge__item badge__item--sale">
                -50%
            </li>
        </ul>
        <button class="product-card__favorite">
            <span class="sr-only">
                В Избранное
            </span>
        </button>
    </div>
    <div class="product-card__content">
        <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/catalog/pineapple.jpg" alt="Ананас" width="298" height="225">
        </a>
        <div class="product-card__discription">
            <a class="product-card__title-link" href="#">
                <h3 class="product-card__title">
                    Ананас, 1кг
                </h3> 
            </a>
            <div class="product-card__bottom">
                <div class="product-card__cost">
                    <span class="product-card__price product-card__price--old">
                        1999 <span>₽</span>
                    </span>
                    <span class="product-card__price">
                        999 <span>₽</span>
                    </span>
                </div>
                <button class="product-card__btn" type="button">
                    <span class="sr-only">
                        Добавить в корзину
                    </span>
                </button>
            </div>
        </div>
    </div>
</article>

<article class="product-card">
    <div class="product-card__top">
        <ul class="badge">
            <li class="badge__item badge__item--new">
                новинка
            </li>
        </ul>
        <button class="product-card__favorite hidden">
            <span class="sr-only">
                В Избранное
            </span>
        </button>
    </div>
    <div class="product-card__content">
        <a class="product-card__link" href="#">
            <img class="product-card__img" src="images/catalog/pineapple.jpg" alt="Ананас" width="100" height="75">
        </a>
        <div class="product-card__discription">
            <a class="product-card__title-link" href="#">
                <h3 class="product-card__title" >
                    Ананас, 1кг
                </h3>                                
            </a>
            <div class="product-card__wrapper">
                <span class="product-card__status product-card__status--instock">
                    в наличии
                </span>
                <div class="product-card__bottom">
                    <div class="product-card__cost">
                        <span class="product-card__price product-card__price--old">
                            1999 <span>₽</span>
                        </span>
                        <span class="product-card__price">
                            999 <span>₽</span>
                        </span>
                    </div>
                    <span class="product-card__rating">
                        4.5
                    </span>
                    <button class="product-card__btn hidden" type="button">
                        <span class="sr-only">
                            Добавить в корзину
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</article>