
<section class="slider-top">
    <h1 class="sr-only">
    ФрешОК - Интернет-магазин свежих продуктов
    </h1>
    <ul class="slider-top__items">
        <li class="slider-top__item" style="background-image: url('images/slied-1.jpg');">
            <div class="container">
                <div class="slider-top__content">
                    <h2 class="slider-top__title">
                        свежачок вам в хату
                        <span class="slider-top__subtitle">
                            Скидка -50%
                        </span>
                    </h2>
                    <div class="slider-top__text">
                        <p>
                            Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                        </p>
                    </div>
                    <a class="slider-top__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
        </li>
        <li class="slider-top__item" style="background-image: url('images/slied-2.jpg');">
            <div class="container">
                <div class="slider-top__content">
                    <h2 class="slider-top__title">
                        накрути себе томатов
                        <span class="slider-top__subtitle">
                            акция: 3 кг по цене 1
                        </span>
                    </h2>
                    <div class="slider-top__text">
                        <p>
                            Только с 12 по 15 июля скидка на домашние помидорчики
                        </p>
                    </div>
                    <a class="slider-top__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
        </li>
        <li class="slider-top__item" style="background-image: url('images/slied-3.jpg');">
            <div class="container">
                <div class="slider-top__content">
                    <h2 class="slider-top__title">
                        Пусть остальные
                        позеленеют от зависти
                        <span class="slider-top__subtitle">
                            Распродажа зелени
                        </span>
                    </h2>
                    <a class="slider-top__btn btn" href="#">
                        Купить сейчас
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>