<section class="stocks section">
    <div class="container">
        <h2 class="title">
            Акции
        </h2>
        <ul class="stocks__nav">
            <li class="stocks__nav-item">
                <button class="stocks__btn" data-filter="all" type="button">
                    Все товары
                </button>
            </li>
            <li class="stocks__nav-item">
                <button class="stocks__btn" data-filter=".new" type="button">
                    новинки
                </button>
            </li>
            <li class="stocks__nav-item">
                <button class="stocks__btn" data-filter=".top" type="button">
                    хиты
                </button>
            </li>
        </ul>
        <ul class="stocks__items">
            <li class="stocks__item mix new">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--new badge--stock">новинка</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/pineapple.jpg" alt="Ананас" width="100"
                                height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Ананас, 1кг
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--green">
                                        в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    1999 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    999 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.5</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix new">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--new badge--stock">новинка</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/coffee.jpg" alt="Кофе" width="100"
                                height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Кофе с коноплей органический Caffé Salomoni 250г
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--red">
                                        заканчивается
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    877 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    777 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.9</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix new">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--new badge--stock">новинка</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/strawberry.jpg" alt="Клубника" width="100" height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Клубника, 1 кг
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--gray">
                                        нет в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    600 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    440 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">5.0</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix new">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--new badge--stock">новинка</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/mango.jpg" alt="Манго" width="100" height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Манго, 1 шт
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--green">
                                        в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    960 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    660 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">5.0</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix new">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--new badge--stock">новинка</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/salmon.jpg" alt="Лосось" width="100" height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Лосось, 1 кг
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--green">
                                        в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    1199 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    999 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.5</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix top">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--top badge--stock">хит</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/veg_juice.jpg" alt="Сок овощной" width="100"
                                height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Сок Granini овощной 100%, 0.5л
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--red">
                                        заканчивается
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    230 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    180 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.9</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix top">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--top badge--stock">хит</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/basket.jpg" alt="Фруктовая корзина" width="100"
                                height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Фруктовая корзина, 1 шт
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--green">
                                        в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    5990 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    3990 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.8</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
            <li class="stocks__item mix top">
                <a class="stocks__link" href="#">
                    <article class="product-cart">
                        <div class="product-cart__top product-cart__top--stock">
                            <ul class="product-cart__badges">
                                <li class="product-cart__badges-item">
                                    <span class="badge badge--top badge--stock">хит</span>
                                </li>
                            </ul>
                            <button class="product-cart__favorite notvisible">
                            </button>
                        </div>
                        <div class="product-cart__content product-cart__content--stock">
                            <img class="product-cart__img" src="images/catalog/pork.jpg" alt="Свинина мякоть" width="100"
                                height="75">
                            <div class="product-cart__discription product-cart__discription--stock">
                                <h3 class="product-cart__title">
                                    Свинина мякоть, 1 кг
                                </h3>
                                <div class="product-cart__wrapper">
                                    <span class="product-cart__status product-cart__status--green">
                                        в наличии
                                    </span>
                                    <div class="product-cart__bottom">
                                        <ul class="product-cart__cost product-cart__cost--stock">
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--old-stock">
                                                    599 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                            <li class="product-cart__cost-item">
                                                <span class="product-cart__price product-cart__price--stock">
                                                    499 <span class="product-cart__rub">₽</span>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="product-cart__rating">
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-num">4.6</span>
                                            </li>
                                            <li class="product-cart__rating-item">
                                                <span class="product-cart__rating-star"></span>
                                            </li>
                                        </ul>
                                        <button class="product-cart__btn notvisible" type="button">
                                            <span class="sr-only">
                                                Добавить в корзину
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
        <a class="stocks__btn-bottom btn" href="#">Показать еще</a>
    </div>
</section>