<section class="topproducts section">
    <div class="container">
        <h2 class="title">
            Топовые товары
        </h2>
        <ul class="topproducts__nav">
            <li class="topproducts__nav-item">
                <button class="topproducts__btn" data-filter="all" type="button">
                    Все товары
                </button>
            </li>
            <li class="topproducts__nav-item">
                <button class="topproducts__btn" data-filter=".fruits" type="button">
                    Фрукты
                </button>
            </li>
            <li class="topproducts__nav-item">
                <button class="topproducts__btn" data-filter=".vegetables" type="button">
                    овощи
                </button>
            </li>
            <li class="topproducts__nav-item">
                <button class="topproducts__btn" data-filter=".drinks" type="button">
                    Напитки
                </button>
            </li>
            <li class="topproducts__nav-item">
                <button class="topproducts__btn" data-filter=".grocery" type="button">
                    бакалея
                </button>
            </li>
        </ul>
        <ul class="topproducts__items">
            <li class="topproducts__item mix fruits">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--new">новинка</span>
                            </li>
                            <li>
                                <span class="badge badge--sale">-50%</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="products-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/pineapple.jpg" alt="Ананас" width="298"
                                height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Ананас, 1кг
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price product-cart__price--old">
                                            1999 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            999 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button">
                                    <span class="sr-only">
                                        Добавить в корзину
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix fruits">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">

                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="products-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/lemon.jpg" alt="Лимон" width="298"
                                height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Лимон, 1кг
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            199 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix fruits">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--top">хит</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/dragon-fruit.jpg"
                                alt="Питахайя красная с белой мякотью" width="298" height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Питахайя красная с белой мякотью, 1шт
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            1019 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix grocery">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">

                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/ketchup.jpg" alt="Кетчуп" width="298"
                                height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            600 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix vegetables">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--top">хит</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/carrot.jpg" alt="Морковь" width="298"
                                height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Морковь молодая с бабушкиной грядки, 1кг
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            49 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix drinks">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--sale">-30%</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/juice.jpg" alt="Напиток сокосодержащий"
                                width="298" height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
                                безалкогольн...
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price product-cart__price--old">
                                            299 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            199 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix grocery">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--new">новинка</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/coffee.jpg" alt="Кофе" width="298"
                                height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Кофе с коноплей органический Caffé Salomoni 250г
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            877 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="topproducts__item mix vegetables">
                <article class="product-cart">
                    <div class="product-cart__top">
                        <ul class="product-cart__badges">
                            <li class="product-cart__badges-item">
                                <span class="badge badge--new">новинка</span>
                            </li>
                        </ul>
                        <button class="product-cart__favorite">
                        </button>
                    </div>
                    <div class="product-cart__content">
                        <a class="product-cart__link" href="#">
                            <img class="product-cart__img" src="images/catalog/paprik.jpg" alt="Перец оранжевый"
                                width="298" height="225">
                        </a>
                        <div class="product-cart__discription">
                            <h3 class="product-cart__title">
                                Перец оранжевый, 1кг
                            </h3>
                            <div class="product-cart__bottom">
                                <ul class="product-cart__cost">
                                    <li class="product-cart__cost-item">
                                        <span class="product-cart__price">
                                            349 <span class="product-cart__rub">₽</span>
                                        </span>
                                    </li>
                                </ul>
                                <button class="product-cart__btn" type="button"></button>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
        <a class="topproducts__btn-bottom btn" href="#">Показать еще</a>
    </div>
</section>