.stocks {
    background-color: $gray-100;    

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        margin-bottom: 48px;
    }

    &__item {        
        border: 1px solid $silver-600;
        border-radius: 6px;
        background-color: $white;
        transition: border-color 0.3s;

        &:hover {            
            border-color: $green-900;
        }
    }

    .mixitup-control-active {
        border-bottom: 3px solid $green-200;
    }

    .product-card {
        &__top {
            height: 0;
            padding: 0;
        }

        &__title {
            padding-top: 12px;
        }

        &__content {
            flex-direction: row;
            align-items: center;
        }

        &__discription {
            height: 120px;
            padding-bottom: 8px;
            width: 100%;
        }

        &__cost {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: flex-end;
        }

        &__price {
            font-size: 20px;
            font-weight: $fw-600;
            margin-right: 12px;
            padding-top: 5px;

            &--old {
                font-size: 12px;
                font-weight: $fw-400;
            }

            span {
                font-size: 12px;
            }
        }

        &__img {
            padding: 0 10px;
        }    
        
        &__search {
            width: 10px;
            height: 10px;
        }

        &__link {
            &::after {
                width: 20px;
                height: 20px;
            }
        }

        &__bottom {
            margin-bottom: 0;
        }        
    }    

    .badge {
        top: 12px;
        left: 12px;
        z-index: 3;
    }

}